@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head><link rel="stylesheet" href="@Url.Content("~/Content/contact/")Style.css" /></head>
<div class="content">
			<div class="phone_num pull_left">
            <p> Phone Number</p>
            <p> Email Adress </p>
            <p> Facebook </p>
            </div>
            <div class="info pull_left">
            <p>03068918696 </p>
            <p>Kamrankhan@yahoo.com </p>
            <p>Kamrankj7@yahoo.com </p>
            </div>
            <div class="clear"> </div> 
</div>
