@{
    Layout = "~/Views/Shared/mylayout.cshtml";
}

<head>
<link rel="stylesheet" href="~/content/add/style.css" />
<title>add doctor</title>
</head>

<div class="content">
            <div class="heading">
                   <p>Fill Required Information :</p>
            </div>
			<div class="form">
            <form action="@Url.Action("add","Add")" method="post" enctype="multipart/form-data">
               <div class="personal">
               		<p>Personal information:</p>

                   <label>Doctor Name</label>

                           <input type="text" name="name" value="" placeholder="Name" required />
                  <label>Contact Number</label>       

                           <input type="tel"  name="phone_num" value="" placeholder="Phone" required />

                   <label>City</label>
                      
                           <input type="text" name="city" value="" placeholder="city" required />

                           <br />
                    
                           <div class="radio">
                               <label>Male</label>
                               <input type="radio" name="category" value="male" class="male_radio"  />
                              
                               <label>Female</label>

                               <input type="radio" name="category" value="female" />
                               </div>
                   <label>Education</label>

                              <input type="text" name="education" placeholder="education" value="" required />

                   <label>Specialization</label>

                              <input type="text" name="specialization" placeholder="specialization" value="" required />

                  <label>Experience</label>

                              <input type="text" name="experience" placeholder="experience" value="" required />

                 </div>
               
               <div class="professional">

               		<p>Diseases Cure: </p>
                          <input type="text" name="diseases" placeholder="diseases" value="" required />
                  
                   <input type="text" name="diseases2" placeholder="diseases Optional" value=""  />
                   
                   <input type="text" name="diseases3" placeholder="diseases Optional" value=""  />
                  

                             <!--Areasssss-->

                   <P>Areas and Schedule </P>

                   <label>Area Name</label>

                               <input type="text" name="area1" placeholder="area1" value="" required />

                   <label>Fees</label>

                           <input type="text" name="fees1" placeholder="fees1" value="" required /> 
                   
                   <label>Available days</label>

                             <input type="text" name="days1" placeholder="days1" value="" required />
                   
                   <p style="font-weight:600;font-size:24px">Timings</p>

                   <label>Opening time</label>

                             <input type="time" name="start_time1" placeholder="Area1 Start time" value="" />

                   <label>Closing time</label>

                            <input type="time" name="end_time1" placeholder="Area1 End time" value="" />


        <p>Optional Areas and Details </p>

                         <label>Area Name </label> 

                           <input type="text" name="area2" placeholder="area2 optional" value=""  />

                         <label>Fees</label>

                           <input type="text" name="fees2" placeholder="fees2 optional" value="" /> 

                         <label>Available days</label>

                            <input type="text" name="days2" placeholder="days2 Optional" value="" />

                   <p style="font-weight:600;font-size:24px">Timings</p>

                   <label>Opening time</label>

                   <input type="time" name="start_time2" placeholder="Area2 Start time" value="" />

                   <label>Closing time</label>   

                    <input type="time" name="end_time2" placeholder="Area2 End time" value="" />

                   <br />
                   <label>Area Name</label>

                           <input type="text" name="area3" placeholder="area3 optional" value=""  />

                    <label>Fees</label>
                            
                           <input type="text" name="fees3" placeholder="fees3 optional" value=""  />                
                       
                    <label>Available Days</label>

                           <input type="text" name="days3" placeholder="days3 Optional" value=""  />

                   <p style="font-weight:600;font-size:24px">Timings</p>
                       
                   <label>Opening time</label>  

                         <input type="time" name="start_time3" placeholder="Area3 Start time" value="" />

                   <label>Closing time</label>    

                       <input type="time" name="end_time3" placeholder="Area3 End time" value="" />

                        <p>Doctor's image</p>

                          <input type="file" name="image" style="margin-top:40px;" />
                   <br />
                           <input type="submit" name="add" value="Add" style="color: #136DA2; margin: 30px 400px"  onclick="alert('Doctor is Added')"; />
               </div>
            </form>
            </div>
</div>
