@{
    Layout = "~/Views/Shared/mylayout.cshtml";
}
<head>

<link rel="stylesheet" href="~/content/options/style.css" />
<title>admin options</title>
</head>


<div class="content">
			<div class="heading">
            <p> Admin Panel:</p>
            </div>
			<div class="container">
            		<div class="container_in">
                          <p>Find doctor:</p>
                        <form action="@Url.Action("Index", "Admin_search")" method="get">
                            <input type="search" name="search" value="" placeholder="Enter doctor Name or just click on button " />
                            <input type="submit" value="Search Or Show All doctors" />
                        </form></div>
            </div>
</div>
